<!DOCTYPE html>
<html>
<head>
	<title>GossipProject - Contact</title>
</head>
<body>

 	<center style="margin-top: 50px;">
 		<h1>Pour nous contacter :</h1>
 		<br><br>
 		<h5><a href="+32470 83 67 67"><i class="fas fa-phone-alt"></i> +32470 83 67 67</a></h5>
 		<br>
 		<h5><a href="mailto:nils@lpzz.com"><i class="fas fa-envelope"></i> support@gossip-project.com</a></h5>
 	</center>
 </body>
 </html>